h1 {
    text-align: center;
}
.layout {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;
    width: 50%;
    gap: 50px;
}
.photo {
    width: 200px;
}
.span1 {
    font-size: 20px; color: red;
}
.span2 {
    font-size: 15px; color: blue;
}
.span3 {
    font-size: 20px; color: goldenrod;
}
.span4 {
    font-size: 15px; color: green;
}